@{
    ViewData["Title"] = "Home / Sitemap";
}

<div class="container mt-5">
    <h6 class="display-6 fw-bold mb-5">@ViewData["Title"]</h6>
    <ul class="text-body-secondary">
        <li>
            <strong>Home</strong>
            <ul>
                <li><strong>Homepage:</strong> A default landing page for site visitors.</li>
                <li><strong>Privacy:</strong> Displays privacy disclaimers.</li>
                <li><strong>Sitemap:</strong> A page that provides descriptions and links to each of the site webpages.</li>
            </ul>
        </li>
        <li>
            <strong>Shop</strong>
            <ul>
                <li><strong>Homepage:</strong> Displays product search results.</li>
                <ul>
                    <li><strong>ProductItem:</strong> Product component.</li>
                    <li><strong>ProductView:</strong> View individual products.</li>
                    <li><strong>Cart:</strong> Any products that have been added to your virtual cart.</li>
                </ul>
            </ul>
        </li>
    </ul>
</div>
